URxvt.background: #000000
URxvt.boldFont: xft:monospace:bold:size=10:antialias=true
URxvt.color0: #000000
URxvt.color1: #cd0000
URxvt.color2: #00cd00
URxvt.color3: #cdcd00
URxvt.color4: #0000ee
URxvt.color5: #cd00cd
URxvt.color6: #00cdcd
URxvt.color7: #e5e5e5
URxvt.color8: #7f7f7f
URxvt.color9: #ff0000
URxvt.color10: #00ff00
URxvt.color11: #ffff00
URxvt.color12: #5c5cff
URxvt.color13: #ff00ff
URxvt.color14: #00ffff
URxvt.color15: #ffffff
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.depth: 32
URxvt.externalBorder: 0
URxvt.font: xft:monospace:size=10:antialias=true
URxvt.foreground: #ffffff
URxvt.intensityStyles: true
URxvt.internalBorder: 2
URxvt.iso14755_52: false
URxvt.iso14755: false
URxvt.letterSpace: 0
URxvt.matcher.button: 1
URxvt.mouseWheelScrollPage: false
URxvt.perl-ext-common: default,matcher,readline,tabbed
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.tabbed.tab-bg: 8
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tabbar-fg: 7
URxvt.termName: rxvt-256color
URxvt.underlineURLs: true
URxvt.urgentOnBell: true
URxvt.url-launcher: firefox
