# I previously declared user.name and user.email in this ~/.gitconfig, but that
# has a few disadvantages: it couples this config to my own identity despite
# this config's availability in my public dotfiles repo for others to use, it
# makes my email addresses publicly scrapable from that repo, and it locks me
# into a single user.email regardless of what repo I'm committing in. So now I
# instead use Git's GIT_CONFIG_COUNT/GIT_CONFIG_KEY_0/GIT_CONFIG_VALUE_0/etc
# env vars to set these values dynamically at commit time

[advice]
  detachedHead = false
[blame]
  # Commenting this out for now to avoid annoying `fatal: could not open object
  # name list: .git-blame-ignore-revs` error in repos that don't
  # have .git-blame-ignore-revs
  # ignoreRevsFile = .git-blame-ignore-revs
[color]
  ui = true
[core]
  autocrlf = input
  editor = micro
  excludesfile = ~/.gitignore
  pager = less -+FX
[credential]
  helper = cache --timeout=864000
[init]
  defaultBranch = master
  templateDir = ~/.git-template
[push]
  autoSetupRemote = true
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
