[user]
	name = Art Chaidarun
	email = artchaidarun@gmail.com
[color]
	ui = true
[core]
	autocrlf = input
	editor = nano
	pager = less -+FX
[push]
	default = simple
[credential]
	helper = cache --timeout=864000
[init]
	templateDir = /home/art/.git-template
